.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 300px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal > button {
    width: 90%;
}

.all-posts {
    /* border: 5px solid blueviolet; */
    flex-grow: 1;
    margin-top: 20px;
}

.search-user {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.search-user textarea {
    height: 100px;
}