.home-page {
    border: 1px solid black;
    height: 100vh;

    display: flex;
    justify-content: space-around;
}

.content {
    border: 1px solid red;
    min-width: 320px;
    max-width: 70%;
    flex-grow: 1;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 1fr;
}

.leftbar {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.leftbar-item {
    font-size: 1.5rem;
    cursor: pointer;
    /* text-align: center; */
}

.leftbar-item:hover a {
    color: lightgray;
}

.leftbar-item a {
    text-decoration: none;
    color: black;
}

.main {
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column;
    height: 100%;

    overflow-y: auto;
    padding: 10px;
}

.rightbar {
    border: 1px solid orange;
}

.rightbar > .user {
    cursor: pointer;
}

.rightbar > .user:hover {
    background-color: lightgray;
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 100%;
    }

    /* .rightbar {
        display: none;
    } */
}