.post {
    border: 1px solid black;
    border-radius: 5px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr;
    padding: 10px;

    max-height: 300px;
    overflow-y: auto;
}

.post > p {
    grid-column: 1 / span 2;
    margin-top: 5px;
}

.post > .like {
    justify-self: end;
}

.post-name {
    display: flex;
    align-items: center;
    gap: 10px;
}


.like-svg, .unlike-svg {
    width: 24px;
    height: 24px;
}

.unlike-svg {
    fill: red;
}

/* COMMENTS */
.comments {
    margin-top: 5px;
}

.comments-tab {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}

.comments-container {
    border: 1px solid rgb(204, 204, 204);
    border-top: none;

    display: flex;
    flex-direction: column;

    min-height: 400px;
}

.comment {
    padding-left: 20px;
    display: flex;

    gap: 10px;
}

.no-comments {
    align-self: center;
}

.comments-list {
    display: flex;
    flex-direction: column;

    height: 350px;
    
}

.add-comment {
    padding: 5px;
    flex-shrink: 0;
}

.add-comment input {
    width: 80%;
    height: 25px;

    padding: 5px;
}

.add-comment  button {
    height: 35px;
    width: 17%;

    background-color: rgb(5, 197, 5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-comment  button:hover {
    background-color: white;
    color: black;
    border: 1px solid gray;
}

.down-arrow {
    width: 30px;
    height: 30px;
}

.tab-open, .tab-closed {
    height: 50px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .comment {
        flex-direction: column;
    }
}

