.profile {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
}

.profile-posts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-element > small {
    margin-left: 10px;
    font-size: 15px;
}

.handle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.handle input {
    height: 40px;
    font-size: 25px;
    max-width: 200px;
}

form button {
    height: 40px;
    cursor: pointer;
}

.edit-btn {
    background-color: transparent;
    border: none;
}

.edit-svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    opacity: 0.2;
    cursor: pointer;
}

.edit-svg:hover {
    opacity: 1;
}

.profile-posts {
    margin-top: 20px;
}